.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.paddingTop-1{
  padding-top: 8px;
}

.paddingBottom-1{
  padding-bottom: 8px
}
.paddingLeft-1{
  margin-left:8px;
}
.marginLeft-2{
  margin-left:16px;
}

.merge-container{
  padding:2px
}

.line-no-width{
  text-overflow: ellipsis;
  width: 36px;
}
.screen_background{
  display: block;
  width: 100%;
  padding: .375rem 1.75rem;
  font-size: 1rem;
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.bg-delete{
  background-color: rgb(247, 211, 206)
}

.bg-add{
  background-color: rgb(207, 241, 200)
}

.display-none{
  display:none;
}

.display-block{
  display:block;
}

.paddingRight-1{
  margin-right:8px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
